.active{
    color: red;
    font-weight: 800;
} 

.navBar{
    align-items: center;
    height: 5.9vh;
}
.userInformation{
    color: rgb(155, 155, 155) !important;
    font-style: italic;
    font-weight: bold;
    margin: 1% 0% 0% 1.5%;
}
.logout{
    position:absolute;
    right: 0;
}