.active{
    color: red;
    font-weight: 800;
} 

.navBar{
    align-items: center;
    height: 5.9vh;
}
.userInformation{
    color: rgb(196, 196, 196) !important;
    font-style: italic;
    font-weight: bold;
}