.container{
    min-height: calc(100vh - 160px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
}
.text{
    width: 40%;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}