.firstContainer{
    padding-top: 4%;
    padding-left: 2%;
}

.input{
    width: 30% !important;
    height: 33px !important;
    border: 2px solid rgb(0, 0, 0) !important;
    margin-bottom: 3%;
}
.addTaskButton{
    margin-right: 3%;
}

.tasks{
    margin-top: 4%;
}
