.footer{
    background-color: rgb(156, 156, 156);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-top: 1%;
    width: 100%;
}
